* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    height: 100svh;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(black, #016367);
    gap: 10px;
    grid-row: 1 / 3;
    grid-column: 1;
}

#background {
    height: 100svh;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity;
    transition-duration: 2s;
}

#main_button {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: solid 4px #44af92;
    border-radius: 20px;
    font-size: 3rem;
    font-weight: bold;
    background-color: #016367;
    letter-spacing: 0.3px;
    color: white;
}

#main_button:hover {
    cursor: pointer;
    background-color: #00a9af;
    opacity: 100%;
}

#main_button:active {
    background-color: #9fedd4;
    color: white;
}

#bottom_info {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    z-index: 2;
}

#bottom_info>* {
    grid-row: 1;
    grid-column: 1;
}

#bottom_info>#advice {
    justify-self: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

#bottom_info>#artist {
    align-self: end;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}